@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/*Shimmer UI CSS*/

.shimmer-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card {
  width: 250px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 12px;
}

.shimmer {
  position: relative;
  overflow: hidden;
  background: #e0e0e0;
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(224, 224, 224, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(224, 224, 224, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

.image-placeholder {
  height: 150px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.title-placeholder,
.subtitle-placeholder {
  height: 16px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.title-placeholder {
  width: 70%;
}

.subtitle-placeholder {
  width: 50%;
}

/*Error Page*/
.error-container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.error-img {
  width: 300px;
}
.error-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.error-text-box > h1 {
  color: #fe7e1d;
}
.error-text-box > h2 {
  color: #1d2230;
}

/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  align-items: center;
  background: #ffb300;
  background: linear-gradient(
    90deg,
    rgba(255, 179, 0, 1) 0%,
    rgba(255, 238, 0, 1) 100%
  );
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.logo {
  width: 60px;
  border-radius: 100%;
}
.logo-text {
  color: brown;
  font-family: "Darumadrop One", sans-serif;
  font-size: 15px;
  font-weight: light;
  letter-spacing: 1px;
  text-transform: Uppercase;
}
.nav-items > ul {
  display: flex;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style: none;
  color: #000;
}

/*SearchBar CSS*/
.search-container {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
.search-box {
  display: flex;
  gap: 1rem;
  width: 60%;
}
.search-input {
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.search-input:focus {
  outline: 2px solid #ffb900;
}
.search-btn {
  color: white;
  text-transform: Uppercase;
  padding: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 10%;
  background-color: red;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.5s;
}
.search-btn:hover {
  background-color: #ef0505;
}
/*Restaurants CSS*/

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}
/*Restaurants CARDS CSS*/
.res-card {
  width: 250px;
  border-radius: 10px;
  transition: all 0.3s;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #ffc100;
}
.res-card:hover {
  cursor: pointer;
  background-color: #fff6da;
}
.res-logo {
  width: 230px;
  margin: 10px;
  border-radius: 10px;
}
.res-text-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.res-cuisine {
  color: gray;
}
.res-ratinganddelivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.res-rating {
  padding: 5px 10px;
  background-color: #ffe8a1;
  border-radius: 10px;
}

/*Restaurants MENU CSS*/
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.menu-heading-container {
  width: 70%;
  margin: 2rem auto;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(214, 214, 214, 1) 150%
  );
  padding: 1rem;
}
.menu-heading {
  letter-spacing: 1px;
  text-transform: capitalize;
}
.menu-detail-box {
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  padding: 2rem;
}
.menu-detail-box > p {
  font-weight: bold;
  margin-top: 0.5rem;
}
.menu-cuisines {
  color: orange;
  text-decoration: underline;
}
.menu-delivery {
  color: gray;
  font-size: 14px;
}
ul > li {
  list-style: none;
}

.menu-card-container {
  width: 65%;
  border-bottom: 1px solid #cdcdcd;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0.5rem;
}
.menu-card-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.menu-card-left > h3 {
  color: #5a5a5a;
}

.menu-card-right {
  position: relative;
}
.menu-card-right > img {
  width: 250px;
  border-radius: 20px;
}
.menu-card-right > button {
  padding: 0.6rem 1.7rem;
  cursor: pointer;
  background-color: white;
  border: 1px solid #cdcdcd;
  font-size: 20px;
  border-radius: 5px;
  color: green;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
